{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Accessibility Assistant{% endblock %}
{% block content %}
<script type="text/javascript">

    $(document).ready(function () {
        console.log("ready!");
        document.onkeyup = function (e) {
            if (e.ctrlKey && e.which == 66) {
                // alert("Ctrl + B shortcut combination was pressed");
                document.getElementById("btnSpeech").click();
            }
        };
    });

    function playWelcomeAudio() {
        speechSynthesis.speak(new SpeechSynthesisUtterance("Hello, this is your browser speaking. What website would you like to surf?"));

    }

    const GetSpeech = () => {
        playWelcomeAudio();
        console.log("clicked microphone");
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        let recognition = new SpeechRecognition();

        recognition.onstart = () => {
            console.log("starting listening, speak in microphone");
        }
        recognition.onspeechend = () => {
            console.log("stopped listening");
            recognition.stop();
        }
        recognition.onresult = (result) => {
            console.log(result.results[0][0].transcript);
            document.getElementById("website").value = result.results[0][0].transcript;
            document.getElementById("submit").click();
        }

        recognition.start();
    }

</script>

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <button id="btnSpeech" onClick="GetSpeech()"><i class="fa-solid fa-microphone fa-10x"></i> </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ wtf.quick_form(form)}}
            </div>
        </div>


    </div>
</div>
{% endblock %}