{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<html>

<head>
    <title>User</title>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("ready!");
            document.onkeyup = function (e) {
                if (e.ctrlKey && e.which == 66) {
                    // alert("Ctrl + B shortcut combination was pressed");
                    document.getElementById("btnSpeech").click();
                } else if (e.ctrlKey && e.altKey && e.which == 89) {
                    // alert("Ctrl + Alt + Y shortcut combination was pressed");
                    document.getElementById("playAudio").click();
                }
            };
        });
        function playQuestionAudio() {
            speechSynthesis.speak(new SpeechSynthesisUtterance("Hello, this is your browser speaking. What question would you like to ask?"));
        }
        let TEXTSPEECH = "text";
        const GetSpeech = () => {
            playQuestionAudio();
            console.log("clicked microphone");
            const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

            let recognition = new SpeechRecognition();

            recognition.onstart = () => {
                console.log("starting listening, speak in microphone");
            }
            recognition.onspeechend = () => {
                console.log("stopped listening");
                recognition.stop();
            }
            recognition.onresult = (result) => {
                console.log(result.results[0][0].transcript);
                document.getElementById("question").value = result.results[0][0].transcript;
                document.getElementById("submit").click();
            }

            recognition.start();
        }
        const speak = () => {
            var msg = new SpeechSynthesisUtterance(TEXTSPEECH);
            window.speechSynthesis.speak(msg);
        }

        $(document).ready(function () {
            let text = $('#pText').text();
            TEXTSPEECH = text;
            document.getElementById('playAudio').onclick = function () { speak() };
            console.log(text);
        });
    </script>
</head>

<body>
    <br />
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center;">

                    <button id="btnSpeech" onClick="GetSpeech()"><i class="fa-solid fa-microphone fa-10x"></i> </button>
                    <button id="playAudio" onclick="speak('This is the text')"><i
                            class="fa-solid fa-play fa-10x"></i></button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ wtf.quick_form(form)}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Key</h2>
                <ul>
                    <li>read paragraph one</li>
                    <li>read the article</li>
                    <li>summarize paragraph one</li>
                    <li>entities of the article</li>
                    <li>entities of paragraph one</li>
                    <li>what is the subject of the article</li>
                    <li>what is the title of the article</li>
                    <li>what is the article about</li>
                    <li>This site is licensed under</li>
                    <li>The primary copyleft.org website is a</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p id="pQuestion">Question is: {{ question }}</p>
            </div>
            <div class="col-md-6">
                <p id="pText">Text is: {{ text }}</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <iframe style="width: 100%; height: 600px; border:3px solid black;" src={{ website }}
                    title="description"></iframe>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}